<div class="row-fluid">
	<div class="span12">
		<div class="hero-unit"><h1 id="question-text">How do you feel about the Internet of Things?</h1></div>
	</div>
</div>
<%= render 'questionnaire' %>
</div>
